<div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-0"><a href="{{k.video_link}}" target="_blank">{{k.title}}</a></h3>
      <div class="mb-1 text-muted">
        <a href="{{k.social}}">{{k.name}}</a></div>
      <a href="{{k.conf_link}}">As seen at {{k.conf}}</a>
    </div>
    <div class="col-auto d-lg-block">
      <img src="img/avatar/{{k.avatar}}" class="avatar">
    </div>
  </div>
</div>
